@font-face {
    font-family: figaro300;
    src: url(../fonts/firago-latin-300-normal.ttf);
  }
  @font-face {
    font-family: figaro500;
    src: url(../fonts/firago-latin-500-normal.ttf);
  }
body{
    margin: 0px;
    box-sizing: border-box;
    font-family: figaro300;
    
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0px;
}


.baby-food-container {
    display: flex;
    width: 100%;
}
.filter-section {
    width: 20%;
    padding: 20px;
    border-right: 1px solid #ccc;
}
.filter-section h2 {
    margin-top: 0;
    font-size: 16px;
}
.filter-section label {
    display: block;
    margin-bottom: 10px;
}
.filter-section .filter-group {
    margin-bottom: 20px;
}
.baby-food-product-section {
    width: 80%;
    padding: 20px;
}
.baby-food-product-conteiner {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.product-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}
.product-card img {
    width: 100%;
    height: auto;
}
.product-card h3 {
    margin: 10px 0;
}
.product-card p {
    margin: 10px 0;
    color: #333;
}
.button{
    width: 100%;
}
.button button{
    background-color: #007bff;
    color: white;
    font-family: figaro500;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}
.product-card button:hover {
    background-color: #0056b3;
}
.stars {
    color: orange;
}
.heart-icon {
    position: absolute;
    /* top: 10px;
    right: 10px; */
    border: 1px solid  #EFEFEF;
    border-radius: 100px;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}
.heart-icon img {
    width: 100%;
    height: auto;
}
#baby-care-hidden-button{
    display: none;
}
.details{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
}
.brand , .price{
    font-family: "firago500";
    color: #2D3648;
    font-size: 20px;
    font-weight: 600;

}
.description{
    color: #717D96;
    font-size: 16px;
    font-weight: 400;

}
.rating {
    color:  #717D96;
    font-size: 16px;
    font-family: figaro500;

}
.rating i{
    color:  #717D96;
    font-size: 10px;
}
