/* @font-face {
  font-family: figaro300;
  src: url(../fonts/firago-latin-300-normal.ttf);
}
@font-face {
  font-family: figaro500;
  src: url(../fonts/firago-latin-500-normal.ttf);
} */

/* font-family: "FiraGO", sans-serif; */

@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:100i,400,500,600,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "FiraGO", sans-serif;
}
body {
  margin: 0px;
  box-sizing: border-box;
}
/*  */
/* pool-section */
/*  */
.pool {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

.pool-section {
  width: 100%;
  margin: 0 auto;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  /* gap: 20px; */
}

.product-card {
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 400px;
  height: 298px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.picture-pool {
  width: 368px;
  height: 214px;
}
.product-card p {
  font-weight: 500;
 
  font-size: 24px;
  line-height: 31.2px;
  font-family: "FiraGO", sans-serif;
  color: #363939;
}

.auzisasrialo,
.auzisasrialo p {
  background-color: #ffe393;
}

.auzi,
.auzi p {
  background-color: #e7d1ee;
}
.ixvi,
.ixvi p {
  background-color: #d8e4c2;
}
.btnixvi {
  /* padding-left: 40px; */
}
.products-section {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: space-around;
  gap: 16px;
  margin-top: 20px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.arrow-button {
  background: none;
  /* background-color: #572fe6; */
  border: none;
  cursor: pointer;
  width: 46px;
  height: 36px;
  border-radius: 6px;
  
}

.arrow-button img {
  width: 40px;
  height: 40px;
  
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card:hover {
  transform: translateY(-10px);
}


.pool-section {
  display: flex;
  transition: transform 0.5s ease;
  /* width: 300%;  */
  justify-content: center;
}
@media screen and (max-width: 768px) {
.product-card {
  flex: 20% 20% 60%; 
  margin: 0 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  /* box-sizing: border-box; */
  overflow: hidden;
  width: 165px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.picture-pool {
  width: 145px;
  height: 84px;
  border-radius: 8px;
}

.product-info {
  margin-top: 10px;
}

.product-info p {
  margin: 10px 0;
  font-size: 12px;
  color: #333;
}

.arrow-button {
  background: none;
  border: none;
  cursor: pointer;
}

.arrow-button img {
  width: 12px;
  height: 12px;
}

/* Background colors for different product cards */
#auzisasrialo {
  background-color: #ffe5a1;
}

#auzi {
  background-color: #e7d3f2;
}

#ixvi,
.ixvi p {
  background-color: #cff4e1;
}



  .product-card {
    flex: 0 0 80%; 
    margin: 0 10px; 
  }
  .pool-section.center-0 {
    transform: translateX(20%); 
  }

  .pool-section.center-1 {
    transform: translateX(-20%); 
  }

  .pool-section.center-2 {
    transform: translateX(-60%);
  }
}

  


/*  */
/* end fool section */
/*  */
/*  */
/* footer section */
/*  */

footer {
  padding: 20px 0;
}

.footer,
.pool,
.popularbrend {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}

.footer-container,
.pool-section {
  width: 90%;
  margin: 0 auto;
  margin-top: 35px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.popular_brends {
  width: 90%;
  margin: 0 auto;
  margin-top: 35px;
}

.help_section {
  width: 314px;
  height: 264px;
}

.footer-section h4 {
  margin-bottom: 10px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  font-family: "FiraGO", sans-serif;
  margin-bottom: 24px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 24px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #535353;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: "FiraGO", sans-serif;
}

.footer-section p {
  margin-bottom: 24px;
}

.social-media a {
  display: inline-block;
}

.social-media img {
  width: 24px;
  height: 24px;
}

.app-links {
  display: flex;
  flex-direction: column;
}

.store {
  max-width: 180px;
  height: 52px;
}

.app-links a {
  display: inline-block;
  margin-bottom: 24px;
}

.arrowf {
  display: none;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-section {
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .arrowf {
    display: block;
    /* height: 40px; */
  }

  .footer-section {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    text-align: left;
  }
  .footer-section h4{
    font-weight: 400;
    font-weight: 12px;
    line-height: 13.8px;
    font-family: "FiraGO", sans-serif;
  }

  .toggle-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-align: left;
  }

  .help_section {
    height: auto;
  }
 
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    text-align: left;
    font-weight: 12px;
    font-weight: 400;
    line-height: 13px;
  }

  .menu li {
    margin: 10px 0;
  }

  .menu li a {
    text-decoration: none;
    color: #333;
  }

  .line {
    height: 1px;
    background-color: #cbd2e0;
    /* width: 343px; */
    margin-bottom: 10px;
  }

  .social-media {
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin: 10px 0;
  }
  .google-play {
    margin-top: -20px;
  }

  .app-links {
    display: flex;
    justify-content: right;
    margin-left: 100px;
    margin-top: -60px;

    width: 40%;
  }

  .store {
    width: 131px;
    height: 38px;
    gap: none;
  }
}

/*  */
/*  */
/*  */

.popular_brens_title {
  text-align: left;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 34px;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  font-family: "FiraGO", sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flex-item {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  /* position: relative; */
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, box-shadow 0.3s;
}
.hape {
  background-color: #e7d1ee;
  max-width: 90%;
  height: 583px;

  /* font-weight: 500;
  font-family: "FiraGO", sans-serif; */
}
.dyson {
  background-color: #ffe393;
  max-width: 90%;
  height: 285px;
  margin-bottom: 20px;
  /* font-weight: 500;
  font-family: "FiraGO", sans-serif; */
}
.greenpan {
  background-color: #d8e4c2;
  max-width: 90%;
  height: 277px;
  /* font-weight: 500;
  font-family: "FiraGO", sans-serif; */
}
.flex-item img {
  max-width: 100%;
  height: auto;
  /* margin-bottom: 15px; */
  border-radius: 8px;
}

.label {
  font-weight: 500;
  line-height: 31.2px;
  font-size: 24px;
  color: #363939;
  font-family: "FiraGO", sans-serif;
}

.flex-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 750px) {
  .flex-item {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .arrow {
    height: 20px;
    width: 20px;
    border-radius: none;
  }
  
  .hape {
    flex: 1 1 100%;
    max-width: 100%;
    height: 229px;
  }
  
  .hape_img {
    max-width: 134px;
    height: 168px;
    height: 200px;
  }
  .hape_mob{
    margin-bottom: -60px;
  }
  .dyson, .greenpan {
    flex: 1 1 80%;
    max-width: 80%;
    height: 109px;
  }
  .dyson{
    margin-bottom: 10px;
  }
  .label {
    font-weight: bold;
    line-height: 15px;
    font-size: 12px;
    color: #363939;
    font-family: "FiraGO", sans-serif;
  }
}
/* end salome 's section */
/* end popular brends section */


/* page 2 */
/* popular brens */

.popular_brends_page2sect{
  max-width: 70%;
  margin-bottom: 40px;
  margin-left:  20%;
  
}
.flex_item_page2{
  /* width: 925px; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.suavinex{
max-width:  505px;
height: 479px;
}
.suavinex,
.suavinex p{
  background-color: 
  #E7D1EE;
}
.twistshake{
  max-width:400px;
  height: 229px;
  margin-bottom: 20px;
}
.twistshake,
.twistshake p{
background-color: #FFE393;
}
.parsa{
  max-width:  400px;
  height: 230px;
}
.parsa,
.parsa p{
  background-color: #D8E4C2;
}
@media (max-width: 750px) {
  .popular_brends_page2sect{
    max-width: 120%;
    margin-bottom: 10px;
    margin-left:  0px;
    
  }
  .popular_brends_page2sect h4{
    font-size: 12px;
    line-height: 16.8px;
    font-weight: bold;
    font-family: "FiraGO", sans-serif;
  }
  .popular_img{
    max-width: 100%;
  }
  .suavinex{
    max-width:  166px;
    height: 229px;
    }
 .twistshake{
    max-width:165px;
    height: 109px;
    margin-bottom: 10px;
  }
  .parsa{
    max-width:165px;
    height:109px;
  }
 
}