/* @font-face {
  font-family: figaro300;
  src: url(../fonts/firago-latin-300-normal.ttf);
}
@font-face {
  font-family: figaro500;
  src: url(../fonts/firago-latin-500-normal.ttf);
} */

/* font-family: "FiraGO", sans-serif; */

@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:100i,400,500,600,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "FiraGO", sans-serif;
}
body {
  margin: 0px;
  box-sizing: border-box;
}
/*  */
/* pool-section */
/*  */
.pool-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 400px;
  height: 298px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.picture-pool {
  width: 368px;
  height: 214px;
}
.product-card p {
  font-weight: 500;
  /* padding: 10px; */
  font-size: 24px;
  line-height: 31.2px;
  font-family: "FiraGO", sans-serif;
  color: #363939;
}

.auzisasrialo,
.auzisasrialo p {
  background-color: #ffe393;
}

.auzi,
.auzi p {
  background-color: #e7d1ee;
}
.ixvi,
.ixvi p {
  background-color: #d8e4c2;
}
.btnixvi {
  padding-left: 40px;
}
.products-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  gap: 16px;
  margin-top: 20px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.arrow-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 46px;
  height: 36px;
  border-radius: 6px;
  /* margin-right: 20px; */
}

.arrow-button img {
  width: 40px;
  height: 40px;
  /* margin-right: 13px; */
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card:hover {
  transform: translateY(-10px);
}

@media (min-width: 768px) {
  .product-card {
    width: calc(33.333% - 20px);
  }
}
/*  */
/* end fool section */
/*  */
/*  */
/* footer section */
/*  */
footer {
  /* padding: 20px 0; */
}

.footer,
.pool,
.popularbrend {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}

.footer-container,
.pool-section {
  width: 90%;
  margin: 0 auto;
  margin-top: 35px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.popular_brends {
  width: 90%;
  margin: 0 auto;
  margin-top: 35px;
}

.help_section {
  width: 314px;
  height: 264px;
}

.footer-section h4 {
  margin-bottom: 10px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  font-family: "FiraGO", sans-serif;
  margin-bottom: 24px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 24px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #535353;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: "FiraGO", sans-serif;
}

.footer-section p {
  margin-bottom: 24px;
}

.social-media a {
  display: inline-block;
}

.social-media img {
  width: 24px;
  height: 24px;
}

.app-links {
  display: flex;
  flex-direction: column;
}

.store {
  max-width: 180px;
  height: 52px;
}

.app-links a {
  display: inline-block;
  margin-bottom: 24px;
}

.arrow {
  display: none;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-section {
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .arrow {
    display: block;
    /* height: 40px; */
  }

  .footer-section {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    text-align: left;
  }
  .foter_mobel_sect {
    /* height: 40px; */
    text-align: left;
    font-weight: 14px;
    font-weight: bolder;
    line-height: 14px;
    font-family: "FiraGO", sans-serif;
  }
  .toggle-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 10px 0;
    cursor: pointer;
    text-align: left;
  }

  .help_section {
    height: auto;
  }
  .toggle-menu {
    text-align: left;
    font-weight: 14px;
    font-weight: bolder;
    line-height: 14px;
    font-family: "FiraGO", sans-serif;
    /* background-color: #ffe393; */
  }
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    text-align: left;
    font-weight: 14px;
    font-weight: 400;
    line-height: 14px;
  }

  .menu li {
    margin: 10px 0;
  }

  .menu li a {
    text-decoration: none;
    color: #333;
  }

  .line {
    height: 1px;
    background-color: #cbd2e0;
    /* width: 343px; */
    margin-bottom: 10px;
  }

  .social-media {
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin: 10px 0;
  }
  .google-play {
    margin-top: -20px;
  }

  .app-links {
    display: flex;
    justify-content: right;
    margin-left: 200px;
    margin-top: -60px;

    width: 40%;
  }

  .store {
    width: 131px;
    height: 38px;
    gap: none;
  }
}

/*  */
/*  */
/*  */

.popular_brens_title {
  text-align: left;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 34px;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  font-family: "FiraGO", sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
}

.flex-item {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  position: relative;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}
.hape {
  background-color: #e7d1ee;
  max-width: 753px;
  height: 583px;

  /* font-weight: 500;
  font-family: "FiraGO", sans-serif; */
}
.dyson {
  background-color: #ffe393;
  max-width: 600px;
  height: 285px;
  margin-bottom: 20px;
  /* font-weight: 500;
  font-family: "FiraGO", sans-serif; */
}
.greenpan {
  background-color: #d8e4c2;
  max-width: 600px;
  height: 277px;
  /* font-weight: 500;
  font-family: "FiraGO", sans-serif; */
}
.flex-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 8px;
}

.label {
  font-weight: 500;
  line-height: 31.2px;
  font-size: 24px;
  color: #363939;
  font-family: "FiraGO", sans-serif;
}

.flex-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) {
  .flex-item {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .flex-item {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 10px;
  }

  .arrow {
    height: 20px;
    width: 20px;
    border-radius: none;
  }
  .hape {
    height: 229px;
    width: 166;
  }
  .hape_mob {
    margin-top: 50px;
  }
  /* .hape img {
    width: 134px;
    height: 168px;
  } */
  .dyson {
    width: 165px;
    height: 109px;
  }
  .greenpan {
    width: 165px;
    height: 109px;
  }
  .label {
    font-weight: bold;
    line-height: 15px;
    font-size: 12px;
    color: #363939;
    font-family: "FiraGO", sans-serif;
  }
}
/* end salome 's section */
/* end popular brends section */
