@font-face {
  font-family: figaro300;
  src: url(../fonts/firago-latin-300-normal.ttf);
}
@font-face {
  font-family: figaro500;
  src: url(../fonts/firago-latin-500-normal.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "figaro300";
}
body {
  margin: 0px;
  box-sizing: border-box;
}
/*  */
/* pool-section */
/*  */
.pool-section {
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  margin: 24px 100px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 400px;
  height: 298px;
}

.picture-pool {
  width: 368px;
  height: 214px;
}

.product-card p {
  font-weight: 500;
  padding: 10px;
  font-size: 24px;
  line-height: 31.2px;
  font-family: "figaro500";
  color: #363939;
}

.auzisasrialo,
.auzisasrialo p {
  background-color: #ffe393;
}

.auzi,
.auzi p {
  background-color: #e7d1ee;
}
.ixvi,
.ixvi p {
  background-color: #d8e4c2;
}

.products-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  gap: 16px;
  margin-top: 20px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.product-info p {
  margin: 0;
}

.arrow-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 46px;
  height: 36px;
  border-radius: 6px;
  margin-right: 20px;
}

.arrow-button img {
  width: 40px;
  height: 40px;
  /* margin-right: 13px; */
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card:hover {
  transform: translateY(-10px);
}

@media (min-width: 768px) {
  .product-card {
    width: calc(33.333% - 20px);
  }
}
/*  */
/* end fool section */
/*  */
/*  */
/* footer section */
/*  */
footer {
  padding: 20px 0;
}

.footer-container,
.pool-section,
.popular_brends_section {
  /* max-width: 1400px; */
  max-width: 100%;
  margin: 0 auto;
  /* margin-left: 100px;
  margin-right: 100px; */
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}
.footer-section {
  margin: 24px 100px;
}
.help_section {
  margin-right: 10px;
  width: 314px;
  height: 264px;
}
.footer-section h4 {
  margin-bottom: 10px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  font-family: "figaro500";
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
  margin-top: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #535353;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: "figaro500";
}

.footer-section p {
  margin: 5px 0;
}

.social-media a {
  display: inline-block;
}

.social-media img {
  margin-top: 20px;
  width: 24px;
  height: 24px;
}
.app-links {
  display: flex;
  flex-direction: column;
}
.store {
  max-width: 180px;
  height: 52px;
  margin-top: 25px;
}
.app-links a {
  display: inline-block;
}
/* Responsive Design */
@media (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-section {
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer-section {
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .footer-section {
    max-width: 100%;
    text-align: center;
    padding: 10px;
  }
  .social-media a,
  .app-links a {
    margin: 5px;
  }
}

.popular_brends {
  margin: 24px 100px;
  padding: 20px;
}

.popular_brens_title {
  text-align: left;
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 34px;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  font-family: "figaro500";
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.flex-item {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}
.hape {
  background-color: #e7d1ee;
  max-width: 715px;
  height: 583px;
}
.dyson {
  background-color: #ffe393;
  max-width: 505px;
  height: 285px;
  margin-bottom: 20px;
}
.greenpan {
  background-color: #d8e4c2;
  max-width: 505px;
  height: 277px;
}
.flex-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 8px;
}

.label {
  width: 500;
  line-height: 32px;
  font-size: 24px;
  color: #363939;
  font-family: "figaro500";
}

.flex-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) {
  .flex-item {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .flex-item {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 10px;
  }

  .arrow {
    bottom: 10px;
    right: 10px;
  }
}
/* end salome 's section */
/* end popular brends section */
