* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "FiraGO", sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  .pool {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
  }
  
  .pool-section {
    width: 90%;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .product-card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 400px;
    height: 298px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .picture-pool {
    width: 368px;
    height: 214px;
  }
  
  .product-card p {
    font-weight: 500;
    font-size: 24px;
    line-height: 31.2px;
    color: #363939;
  }
  
  .auzisasrialo,
  .auzisasrialo p {
    background-color: #ffe393;
  }
  
  .auzi,
  .auzi p {
    background-color: #e7d1ee;
  }
  
  .ixvi,
  .ixvi p {
    background-color: #d8e4c2;
  }
  
  .btnixvi {
    padding-left: 40px;
  }
  
  .products-section {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  
  .arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 46px;
    height: 36px;
    border-radius: 6px;
  }
  
  .arrow-button img {
    width: 40px;
    height: 40px;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
  }
  
  /* Responsive adjustments */
  @media screen and (max-width: 350px) {
    .pool {
      padding: 10px;
    }
  
    .product-card {
      width: 80%;
      margin: 0 10px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      transition: transform 0.3s ease;
    }
  
    .product-card p {
      font-size: 12px;
      line-height: 16px;
    }
  }
  
  @media (max-width: 750px) and (min-width: 350px) {
    .product-card {
      min-width: 100vw;
    }
  
    .pool-section.center-0 {
      transform: translateX(20%);
    }
  
    .pool-section.center-1 {
      transform: translateX(-20%);
    }
  
    .pool-section.center-2 {
      transform: translateX(-60%);
    }
  
    .pool-section.center-0 .product-card:nth-child(1) {
      transform: translateX(0);
    }
  
    .pool-section.center-1 .product-card:nth-child(2) {
      transform: translateX(-100vw);
    }
  
    .pool-section.center-2 .product-card:nth-child(3) {
      transform: translateX(-200vw);
    }
  }
  