* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* izas part starts */

@font-face {
  font-family: figaro300;
  src: url(../fonts/firago-latin-300-normal.ttf);
}
@font-face {
  font-family: figaro500;
  src: url(../fonts/firago-latin-500-normal.ttf);
}
body {
  margin: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0px;
}
header {
  width: 100%;
  font-family: "figaro300";
}
.center-div {
  border-bottom: 1px solid #cbd2e0;
  padding: 24px 100px;
}
.center-div-top {
  column-gap: 100px;
  display: flex;
  align-items: center;
}
.search {
  width: 60%;
  display: flex;
}

.search input {
  width: 100%;
  padding: 11px 12px;
  border-style: solid;
  border-radius: 6px;
  color: #cbd2e0;
}
.search input::placeholder {
  color: #a4a4a4;
  font-size: 16px;
  font-family: "figaro300";
}
.search img {
  margin-top: 10px;
  height: 20px;
  width: 20px;
  margin-left: -32px;
}
.center-div-top-buttons {
  width: 24%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
}
.center-div-top-buttons-icons img {
  width: 24px;
}
.center-div-top-buttons-login{
  width: 70%;
}
.center-div-top-buttons-login button {
  width: 100%;
  background-color: #008bff;
  color: #ffffff;
  font-size: 18px;
  border-style: none;
  border-radius: 6px;
  padding: 11px 24px;
  font-family: "figaro300";
}
.center-div-lower {
  display: flex;
}
.center-div-lower-main {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  justify-content: space-between;
}
.burger-menu {
  display: flex;
  width: 15%;
  cursor: pointer;
}
.burger-menu span {
  color: #000000;
  font-size: 14px;
}
/* carousel */

.carousel-wrap {
  overflow: hidden;
  width: 86%;
  position: relative;
}
.carousel {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.carousel-slide {
  display: flex;
  min-width: 100%;
  /* column-gap: 60px; */
  justify-content: space-evenly;
}

.carousel-item {
  width: max-content;
  box-sizing: border-box;
  text-align: center;
}

.carousel-item a {
  text-decoration: none;
  color: #000;
  font-size: 14.5px;
}

.carousel-nav {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: #cbd2e0;
  color: white;
  border-radius: 100px;
  border: none;
  font-size: 16px;
  width: 24px;
  cursor: pointer;
  z-index: 100;
}
#xx {
  margin-left: -19px;
}

.carousel-nav.next {
  right: 5px;
}

.category-section {
  position: absolute;
  display: none;
  background-color: white;
  width: 100%;
  /* max-height: calc(100vh - 150px);  */
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  /* bottom: 0%; */
}

.category-item {
  background-color: #e6f3ff;
  width: 20%;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  font-family: "figaro300";
}

.category-item ul li {
  margin-bottom: 10px;
}

.category-item ul li a {
  color: #000000;
  font-size: 16px;
  line-height: 24px;
}

.category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.category-header h3 {
  margin-top: 0;
  margin-right: 16px;
}

.cancel-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: 1px solid #008bff;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
}

header.disabled {
  pointer-events: none;
  opacity: 0.2;
}
.hidden {
  display: none;
  visibility: hidden;
}

.scrollable-content {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;

  margin-top: 50px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* section : sale-slider */

.sale-slider {
  width: 100%;
  margin-top: 20px;
  font-family: "figaro300";
}

.sale-slider-center1,
.sale-slider-center2,
.sale-slider-center3 {
  display: none;
  flex: 1;
  height: 376px;
  padding: 0px 100px;
  border-radius: 10px;
}

.sale-slider-center1.active,
.sale-slider-center2.active,
.sale-slider-center3.active {
  display: flex;
}

.sale-slider-center-left {
  width: 50%;
  background-color: #e6f3ff;
  border-radius: 10px;
}

.sale-slider-center-left-main {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sale-slider-center1 .sale-slider-center-left {
    width: 100%;
    background-image: url("../Super-App-Project-3rd-Team/Image/sale-slider-image1.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 40px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 30px;
}

.sale-slider-center1,
.sale-slider-center3 .sale-slider-center-left div {
  color: #ffffff;
}
.sale-slider-center1 .sale-slider-center-left .slider-Icon {
  background-color: #ffffff;
  margin-top: 50px;
}
.sale-slider-center1 .sale-slider-center-left .slider-Icon a {
  color: #008bff;
}
.sale-slider-center3 .sale-slider-center-left {
    width: 100%;
    background-image: url("../Super-App-Project-3rd-Team/Image//sale-slider-image3.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 10px;
}
.sale-slider-center-left-main div h1 {
  font-size: 23px;
  color: #002a4c;
}

.sale-slider-center-left-main div h4 {
  font-size: 16px;
  color: #002a4c;
  line-height: 22.4px;
  margin-top: 0px;
}

.sale-slider-center-left-main div a {
  color: #008bff;
}
.sale-slider-center-right {
  width: 50%;
}
.sale-slider-center-right img {
  width: 100%;
  height: 100%;
}
.slider-Icon {
  width: 218px;
  height: 45px;
  border: 1px solid #008bff;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.sale-slider-button {
  cursor: pointer;
  position: absolute;
  top: 400px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: #008bff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border: none;
  outline: none;
}

.sale-slider-button.prev {
  left: 85px;
}

.sale-slider-button.next {
  right: 85px;
}
.sale-slider-dot {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #0000001a;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/*დავაზუსტო */
.dot.active {
  background-color: #008bff;
}

/* section everything-event */
.everything-event {
  width: 100%;
  margin-top: 50px;
}
.everything-event-center{
    height: 370px;
    border-radius: 10px;
   margin: 0px 100px;
   background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../Super-App-Project-3rd-Team/Image/everything-event-image.png"); 
} 
.everything-event-detail{
    height: 90%;
    width: 80%;
    padding-top: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "figaro300";

}
.everything-event-detail div h2 {
  font-size: 24px;
  color: #000000;
  font-weight: 900;
}
.everything-event-detail div span {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  line-height: 24px;
}
.everything-event-Icon {
  width: 218px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  background-color: #ffffff;
}
.everything-event-Icon a {
  color: #000000;
  font-weight: 600;
  line-height: 22.4px;
}
.hidden-button {
  display: none;
}
.menu-container {
  display: none;
}
/* responsive */

@media (max-width: 1000px) {
  .center-div-top-buttons {
    display: none;
  }
  .hidden-button {
    display: flex;
  }
  .center-div-top {
    justify-content: space-between;
  }
  .center-div-lower {
    display: none;
  }
  .center-div {
    padding: 24px 20px;
  }
  .slide {
    padding:  20px;
  }
  .everything-event-center {
    margin: 0px 20px;
  }

  .menu-container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: white;
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .menu-container.show {
    right: 0;
    display: block;
  }

  .menu-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
  }

  .menu-header span {
    font-size: 1.5em;
  }

  .menu-header button {
    background: none;
    width: 35px;
    height: 35px;
    color: #008bff;
    font-size: 30px;
    border-radius: 50%;
    border: 1px solid #008bff;
    cursor: pointer;
  }

  #menuList {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #menuList li {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  #menuList li i {
    margin-right: 10px;
  }
  .submenu-container {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 20px;
  }

  .submenu-container.show {
    display: flex;
    justify-content: center;
  }

  .submenu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .submenu-list li {
    padding: 10px 0;
  }

  .submenu-list li:first-child {
    font-weight: bold;
  }

  .menu-item-active {
    color: #008bff;
  }
  .center-div-top {
    column-gap: 10px;
    display: flex;
    align-items: center;
  }
  .logo img {
    max-width: 75px;
  }
  .sale-slider {
    margin-top: 0px;
  }
  .sale-slider-center1,
  .sale-slider-center2,
  .sale-slider-center3 {
    height: 200px;
    font-size: 12px;
  }
  .sale-slider-center1 .sale-slider-center-left {
    /* width: 340px ;
        height:150px; */
        padding-top: 10px;
        background-image: url(../Super-App-Project-3rd-Team//Image/sale-slider-image1.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        row-gap: 5px;
        font-size: 10px;
        justify-content: center;
    }
    .sale-slider-button{
        display: none;
    }
    .slider-Icon  img{
        display: none;
    }
    .slider-Icon{
        width: 110px;
        height: 30px;
    }
    .slider-Icon  a{
        font-weight: bold;
        padding: 3px;
    }
    .dot {
        height: 10px;
        width: 10px;
    }
    .sale-slider-center-left-main div h1{
        font-size: 12px;
    }
    .sale-slider-center-left-main div h4{
        display: none;
    }
    .sale-slider-center-left-main div a {
        color: #008BFF;
        font-size: 10px;
    }
    .sale-slider-center3 .sale-slider-center-left {
        padding-left: 10px;
        justify-content: flex-start;
        font-size: 10px;
    }
    .everything-event-center {
        height: 225px;
    }
    .everything-event-detail div h2 {
        font-size: 12px;
        line-height: 16px;
    }
    .everything-event-detail div span {
        font-size: 12px;
        
    }
    .everything-event-Icon {
        width: 150px;
        height: 25px;
        border-radius: 5px;
    }
    .everything-event-Icon a {
        font-size: 10px;
    }
}


/* baby-care css */

/* section baby-care-popular */
.baby-care-sale{
  width: 100%;
  font-family: "figaro300";
}
.baby-care-sale-container{
  width: 90%;
  margin: auto;
}
.baby-care-sale-container-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.baby-care-sale-container-head a{
  font-size: 14px;
  color: #000000;
  text-decoration: underline;
}

.baby-card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.baby-sale-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  position: relative;
}

.baby-sale-card  img {
  width: 100%;
  height: auto;
}

.baby-sale-card .rating {
  top: 10px;
  left: 10px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #717D96;
}

.baby-sale-card .heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid  #EFEFEF;
  border-radius: 100px;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
}


.baby-sale-card .details {
  padding: 20px 10px;
}

.baby-sale-card .brand {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.baby-sale-card .description {
  color: #666;
  margin-bottom: 10px;
}

.baby-sale-card .price {
  font-size:20px;
  color: #333;
  font-weight: 600;
}

.baby-sale-card .old-price {
  text-decoration: line-through;
  margin-left: 10px;
  color: #999;
  font-size: 16px;
 
}

.baby-sale-card .discount {
  padding: 5px;
  background-color: #FF3333;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 10px;

  
}

.baby-sale-card .button {
  margin-top: 10px;
}

.baby-sale-card .button button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.baby-sale-card .button button:hover {
  background-color: #0056b3;
}

/* section baby-care-popular */

.baby-care-popular{
  width: 100%;
  font-family: "figaro300";
  
}
.baby-care-popular-container{
 width: 90%;
 margin: auto;
}
.baby-care-popular-container-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.baby-popular-card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.baby-care-popular-container-head  a{
  font-size: 14px;
  color: #000000;
  text-decoration: underline;
}
.baby-popular-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  position: relative;
}
.baby-popular-card  img {
  max-width: 100%;
}
.baby-popular-card h2 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: normal;
}
.baby-popular-card .rating{
  top: 10px;
  left: 10px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #717D96;
}


.baby-popular-card  .brand {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #2D3648;
}
.baby-popular-card .description {
  color: #666;
  margin-bottom: 10px;
  font-size: 14px;
}
.baby-popular-card .price {
  font-size: 20px;
  
  font-weight: 800;
  color: #2D3648;

}
.baby-popular-card  .details {
  padding: 20px 10px;
}
.baby-popular-card  .heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid  #EFEFEF;
  border-radius: 100px;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
}

.baby-popular-card  .button {
  margin-top: 10px;
}

.baby-popular-card .button button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.baby-popular-card .button button:hover {
  background-color: #0056b3;
}

/* section baby-care-sea */


.baby-care-sea{
  width: 100%;
  font-family: "figaro300";
  
}
.baby-care-sea-container {
 width: 90%;
 margin: auto;
}

.baby-care-sea-container-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.baby-sea-card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.baby-care-sea-container-head a{
  font-size: 14px;
  color: #000000;
  text-decoration: underline;
}
.baby-sea-card{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  position: relative;
}
.baby-sea-card img {
  max-width: 100%;
}
.sea-img{
  height: 220px;
}
.baby-sea-card .rating{
  top: 10px;
  left: 10px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #717D96;
}
.baby-sea-card  .brand {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #2D3648;
}
.baby-sea-card .description {
  color: #666;
  margin-bottom: 10px;
  font-size: 14px;
}
.baby-sea-card .price {
  font-size: 20px;
  
  font-weight: 800;
  color: #2D3648;

}
.baby-sea-card .details {
  padding: 20px 10px;
}
.baby-sea-card .heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid  #EFEFEF;
  border-radius: 100px;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
}

.baby-sea-card .button {
  margin-top: 10px;
}

.baby-sea-card .button button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.baby-sea-card .button button:hover {
  background-color: #0056b3;
} 
#baby-care-hidden-button{
  display: none;
}

/* baby-care responsive */
@media (max-width: 900px){
  .baby-card-container  {
      display: flex;
      justify-content: flex-start;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      gap: 10px;
      height: auto;
      padding: 10px ;
      box-sizing: border-box;
  }
  
  .baby-popular-card-container{
      display: flex;
      justify-content: flex-start;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      gap: 10px;
      height: auto;
      padding: 10px ;
      box-sizing: border-box;

  }
  .baby-sea-card-container  {
      display: flex;
      justify-content: flex-start;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      gap: 10px;
      height: auto;
      padding: 10px ;
      box-sizing: border-box;
  }
 

}


@media (max-width: 750px){
  
  .baby-sale-card , 
  .baby-popular-card , 
  .baby-sea-card {
      min-width: calc(100% - 200px);
      scroll-snap-align: start;
  
  }

}
@media (max-width: 550px){
      .baby-sale-card , 
      .baby-popular-card , 
      .baby-sea-card{
          min-width: calc(100% - 150px);
          scroll-snap-align: start;
          max-height: 285px;
      }

 
  .baby-care-sale-container-head , 
  .baby-care-popular-container-head ,
  .baby-care-sea-container-head{
      font-size: 8px;
  }
  .baby-sale-card .details,
  .baby-popular-card  .details ,
  .baby-sea-card .details{
      padding: 5px ;
  }
  .baby-sale-card .brand,
  .baby-popular-card .brand,
  .baby-sea-card .brand{
      font-size: 12px;
  }
  .baby-sale-card .description,
  .baby-popular-card .description,
  .baby-sea-card .description {
      font-size: 10px;
  }
  .baby-sale-card .price,
  .baby-popular-card .price,
  .baby-sea-card .price {
      font-size: 12px;
  }
  .baby-sale-card .old-price,
  .baby-popular-card .old-price,
  .baby-sea-card .old-price{
      font-size: 10px;
      margin-left: 0px;

  }
  .baby-sale-card .discount{
      font-size: 12px;
      margin-left: 0px;
      padding: 3px;
  }
  .baby-sale-card .button,
  .baby-popular-card .button,
  .baby-sea-card .button {
      display: none
  }
  #baby-care-hidden-button{
      display:flex ;
      margin-top: 5px;
  }
  #baby-care-hidden-button a{
      width: 100%;
  padding: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center
  }
  #baby-care-hidden-button a img{
      width: 16px;
      margin-right: 5px;

  }
  .baby-sale-card .rating,
  .baby-popular-card .rating,
  .baby-sea-card .rating {
      font-size: 12px;
  }
  .baby-sale-card .heart-icon
  .baby-popular-card .heart-icon
  .baby-sea-card .heart-icon{
      padding: 5px 7px;
      font-size: 15px;
      top: 7px;
      right: 7px;
  
  }
  .sea-img {
      height: 140px;
  }

}

/* izas part ends */
.all-popular-products {
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: center;
  flex-wrap: nowrap;
  column-gap: 20px;
  margin-top: 32px;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}
.popular-products-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  padding-left: 12px;
}
.title {
  margin-left: 13px;
  margin-top: 39px;
}
.pupular-products-sect > h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 33.6px;
}
.popular-products-title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.turn-products-div {
  display: flex;
  margin-top: 39px;
  padding-right: 11px;
}
.left-btn,.right-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  float: right;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d8d8d8;
  cursor: pointer;
  margin-left: 10px;
}
.left-btn:focus{
  color: #80c5ff;
  border: 1px solid #80c5ff;
  transition: outline 0.3s, box-shadow 0.3s;
}
.right-btn:focus{
  color: #80c5ff;
  border: 1px solid #80c5ff;
  transition: outline 0.3s, box-shadow 0.3s;
}


.popular-products-main-div {
  width: 295px;
  flex: 0 0 auto; 
  height: 406px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-left: 12px;
  border: 1px solid #efefef;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.popular-product-div1 {
  padding-top: 10px;
}
.evaluate-star-icon {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.heart-icon-div {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: 1px solid #efefef;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-heart{
  color: red;
  font-size: 15px;
}

.fa-regular {
  color: #6d6e70;
  font-size: 15px;
}
.popular-products-div1 p{
   color: #717D96;
   display: flex;
   align-items: center;
}
.popular-products-div1 p i{
  font-size: 8px;
  margin-right: 3px;
}
.percentage-box {
  width: 38px;
  height: 20px;
  border-radius: 8px;
  background-color: #ff3333;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  /*font-family: inter;
    */
}
.prise-line-through {
  text-decoration: line-through;
}
.discount {
  font-size: 20px;
}
.popular-products-main-div h3 {
  font-weight: 400;
  font-size: 14px;
}
.add-to-basket-btn {
  width: 263px;
  height: 40px;
  background-color: #008bff;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

.popular-product-photo1 {
  background: url(../Super-App-Project-3rd-Team/photos/popular-product-1.jpeg);
}
.popular-product-photo2 {
  background: url(../Super-App-Project-3rd-Team/photos/popular-product-2.png);
}
.popular-product-photo3 {
  background: url(../Super-App-Project-3rd-Team/photos/popular-product-3.jpeg);
}
.popular-product-photo4 {
  background: url(../Super-App-Project-3rd-Team/photos/popular-product-4.png);
}
.popular-product-photo5 {
  background: url(../Super-App-Project-3rd-Team/photos/popular-product-5.png);
}
.popular-product-photo6 {
  background: url(../Super-App-Project-3rd-Team/photos/popular-product-6.png);
}
.popular-product-photo7 {
  background: url(../Super-App-Project-3rd-Team/photos/popular-product-7.png);
}
.popular-product-photo8 {
  background: url(../Super-App-Project-3rd-Team/photos/popular-product-8.png);
}
.popular-product-photo9 {
  background: url(../Super-App-Project-3rd-Team/photos/popular-product-9.png);
}
.popular-product-photo10 {
  background: url(../Super-App-Project-3rd-Team/photos/popular-product-10.png);
}
.popular-product-photo11 {
  background: url(../Super-App-Project-3rd-Team/photos/popular-product-11.png);
}
.popular-product-photo12 {
  background: url(../Super-App-Project-3rd-Team/photos/popular-product-12.png);
}
.popular-product-photo {
  width: 295px;
  height: 218px;
  display: flex;
  justify-content: end;
  padding: 21px 22px 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

